<!--Main Layout-->
<main class="text-center pt-5">

  <div class="container py-4">
      <app-search-form></app-search-form>
  </div>


  <div class="my-4 py-3" style="background-color: #fff;">
    <div class="container">
        <div class="row">

          <div class="col-md-12">

            <h3 class="my-4"><b>Search by category</b></h3>

            <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          </div>
        </div>
    </div>
  </div>



  <div class="container">
    <h2 class="my-5"><b>Last Announcements</b></h2>
      <div class="row">
        <div class="col-3" *ngFor="let item of items">
          <!-- Card -->
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect style="height: 192px">
              <!-- Card img -->
              <mdb-card-img src="{{ '../../../assets/images/' + item.id + '.jpg'}}" alt="Card image cap"></mdb-card-img>
              <a routerLink="items/{{ item.id }}">
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h4>{{ item.name }}</h4>
              </mdb-card-title>

              <!--Text-->
              <mdb-card-text>{{ item.details }}</mdb-card-text>

              <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
            </mdb-card-body>
          </mdb-card>
          <!-- Card -->
        </div>
      </div>
  </div>

</main>
