<!--Main Layout-->
<main class="text-center pt-5">

  <div class="container py-4">
      <app-search-form></app-search-form>
  </div>


  <div class="my-4 py-3 categoryPart">
    <div class="container">
        <div class="row">

          <div class="col-md-12">

            <h3 class="mt-4" *ngIf="isEnglish"><b>Search by Category</b></h3>
            <h3 class="mt-4" *ngIf="!isEnglish"><b>Cerca per Categoria</b></h3>

            <div class="row mt-5 mb-4">
              <div class="col-3" *ngFor="let cat of categories">
                <a [routerLink]="[cat+'/items']" routerLinkActive="router-link-active">
                  <img src="{{'../../../assets/' + cat + '.jpg'}}" class="mb-3">
                  <p>{{ cat }}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>



  <div class="container" *ngIf="items">
    <h2 class="my-5" *ngIf="isEnglish"><b>Last Announcements</b></h2>
    <h2 class="my-5" *ngIf="!isEnglish"><b>Ultimi Annunci</b></h2>
      <div class="row">
        <div class="col-3 mb-4" *ngFor="let item of items">
          <!-- Card -->
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect style="height: 192px">
              <!-- Card img -->
              <mdb-card-img src="{{'../../../assets/images/' + item.id + '.jpg'}}" alt="Card image cap"></mdb-card-img>
              <a routerLink="items/{{ item.id }}">
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body style="text-align: left;">
              <!--Title-->
              <mdb-card-title>
                <h4 style="
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;">{{ item.name }}</h4>
              </mdb-card-title>

              <!--Text-->
              <mdb-card-text class="itemDet">{{ item.details }}</mdb-card-text>

              <!-- time -->
              <p style="font-size: 0.7rem;"><mdb-icon far icon="clock"></mdb-icon> {{ item.time }}, {{item.date}} </p>
              <!-- Location -->
              <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"><mdb-icon fas icon="map-marker-alt"></mdb-icon><strong> {{ item.location }}</strong></p>

            </mdb-card-body>
          </mdb-card>
          <!-- Card -->
        </div>
      </div>
  </div>

</main>
