<div class="row">
  <div class="col-md-12">

    <div class="form-inline md-form m-0">

      <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
      <input id="mainSearch" class="form-control form-control-sm mx-3 w-50" type="text"
            placeholder="{{ !isEnglish ? 'Cosa cerchi' : 'What are you looking for' }}?" aria-label="Search" autocomplete="off" mdbInput>

      <mdb-icon fas icon="map-marker-alt" aria-hidden="true"></mdb-icon>
      <input class="form-control form-control-sm mx-3 w-25" type="text" placeholder="{{ value }}" aria-label="Search" (click)='toggleRegionsBlock()'
        mdbInput>

      <button (click)="goSearch()" mdbBtn size="sm" gradient="aqua" class="waves-light" mdbWavesEffect
        type="submit">{{ !isEnglish ? 'Cerca' : 'Search' }}&nbsp;&nbsp;
        <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon></button>

      </div>

  </div>
</div>

<div class="position-relative w-100">

  <div id="regions-layer" class="layer w-100" style="display: none;">

    <div class="title">
      <a (click)="onSelectItaly()"><mdb-icon fas icon="angle-left"></mdb-icon>&nbsp;&nbsp;{{ !isEnglish ? 'Tutta Italia' : 'All Italy' }}</a>
    </div>

    <hr>

    <div class="regions-list">

      <ul class="row">
        <li *ngFor="let region of italy" class="col-3 mb-1" (click)="onSelectRegion(region)">
          <a>{{ region.label }} &nbsp;&nbsp;&nbsp; <mdb-icon fas icon="angle-right"></mdb-icon></a>
        </li>
      </ul>

    </div>
  </div>


  <div id="provinces-layer" class="layer w-100" style="display: none;"  *ngIf="selectedRegion">

    <div class="title">
      <a (click)="changeRegion()"><mdb-icon fas icon="angle-left"></mdb-icon>&nbsp;&nbsp;{{ !isEnglish ? 'Cambia Regione' : 'Change Region' }}</a>
      <a style="float: right;" (click)="onFinalSelectRegion()">{{ !isEnglish ? 'Tutta' : 'All' }} {{ selectedRegion.label }}&nbsp;&nbsp;<mdb-icon fas icon="angle-right"></mdb-icon></a>
    </div>

    <hr>

    <div class="regions-list">

      <ul class="row">
        <li *ngFor="let province of selectedRegion.provinces" class="col-3 mb-1" (click)="onSelectProvince(province)">
          <a>{{ province.label }} &nbsp;&nbsp;&nbsp; <mdb-icon fas icon="angle-right"></mdb-icon></a>
        </li>
      </ul>

    </div>
  </div>
</div>
