body {
  background-color: #F1F4F5;

  // navbar
  .navbar {
    background-color: #013034;

    .logo, .logo:hover {
      color: #fff
    }
    .nav-item a {
      font-size: 1.15rem
    }
    .langs {
      color: #fff;
      transition: .35s;
      padding: 0.5rem 1rem;

      a {
        overflow: unset;
        cursor: pointer;

        &.activeLang {
          cursor: text;
          color: #8fa7a9
        }
      }
    }
  }

  // sign-in form
  #loginForm {
    max-width: 400px;
    margin: 10% auto;
    .loginBlock {
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        border: 0;
        border-radius: 0.125rem;
        display: flex;
        flex-direction: column;
        pointer-events: auto;
        .white-text {
            text-align: center;
            margin: -2rem 1rem 1rem 1rem;
            padding: 1.5rem;
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            border-radius: 0.125rem;
            border: none;
            h4 {
                cursor: pointer;
                margin-bottom: 0;
                width: 100%;
                font-size: 1.25rem;
            }
        }
        .loginBody {
            color: #616161;
            padding: 1rem 2rem;
            .md-form {
                label {
                    top: 0.4rem;
                }
                .prefix {
                    top: 0.7rem;
                }
            }
        }
    }
  }

  main {
    margin-top: 60px;
    .form-inline {
      background-color: #fff; padding: 15px 30px;
      i {
        font-size: 1.4rem
      }
      .form-control {
        border: none !important;
        margin-bottom: 0.2rem !important;
        font-size: 1.1rem;
        border-right: 1px solid !important;
        &:focus {
          box-shadow: unset !important;
          border-right: 1px solid !important
        }
        &.w-25 {
          caret-color: transparent;
        }
      }
      button {
        font-size: 0.7rem !important;
        border-radius: 20px !important;
        margin: 0 auto !important
      }
    }

    .layer {
      position: absolute;
      background-color: #fff;
      padding: 15px;
      top: 12px;
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18);
      &::before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #fff transparent;
        right: 481px;
        top: -10px;
        position: absolute;
        content: ' '
      }
      .title {
        padding-inline-start: 5px;
        text-align: left;
        a:hover {
          text-decoration: underline
        }
      }
      hr {
        margin-top: 0.5rem
      }
      ul {
        padding-inline-start: unset;
        list-style-type: none;
        li {
          padding-top: 3px;
          padding-bottom: 3px;
          cursor: pointer;
          &:hover {
            background-color: #013034;
            color: white
          }
          &:not(:nth-child(4n)) {
            border-right: 1px solid
          }
        }

      }
    }

    #regions-layer {
      z-index: 1
    }

    #provinces-layer {
      z-index: 2
    }
  }

  // footer
  footer {
    background-color: #024d53 !important;
    .underTitle {
        font-size: 0.95rem
    }
    .list-inline-item {
        h5 {
            margin-bottom: unset;
            padding-top: 5px
        }
        a {
            border-radius: 50%;
            padding: 14px;
            margin-left: 20px;
            background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
            i {
                font-size: 20px
            }
        }
    }
    .footer-copyright {
      background-color: #013034
    }
  }


}





















@media screen and (max-width: 575px) {
  #loginForm {
      max-width: 90%;
      margin-top: 25%;
  }
}

@media screen and (min-width: 576px){
  .navbar.scrolling-navbar, .navbar.scrolling-navbar.top-nav-collapse {
    padding-top: 18px !important;
    padding-bottom: 18px !important;
  }
}
