.img-upload {
  margin: 10rem auto;
  padding: 15px;
  height: 500px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  label {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1.5rem
  }
  p {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
    color: rgb(115, 127, 139)
  }
  .or {
    font-size: 1rem;
    margin-bottom: 0.9rem;
  }
  div {
    border: 1px dashed;
    width: 90%;
    height: 52%;
    margin: 5%;
    background-color: #F7F8FB;
    border-color: #98BEF4;
    border-radius: 10px;
    input {
      height: 48.4%;
      width: 83.3%;
      position: absolute;
      z-index: 9999;
      background: none;
      opacity: 0
    }
    p {
      margin-top: 13rem
    }
    img {
      position: absolute;
      top: 170px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      width: 40%;
      text-align: center
    }
  }
  .btn {
    display: block;
    margin: 0 auto;
    border-radius: 10px
  }
}










@media screen and (max-width: 767px) {
  .img-upload {
    margin: 5rem auto;
  }
}


@media screen and (min-width: 768px) and (max-width: 991px) {
  .img-upload {
    margin: 7rem auto;
  }
}
